@page "/address"

@inject IAddressService AddressService

<h3>Мои адреса</h3>

@if (AddressService.Addresses == null || AddressService.Addresses.Count == 0)
{
    <span>Loading ...</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Дата Замера</th>
                <th>Дата Монтажа</th>
                <th>Адрес</th>
                <th>Сумма Заказа</th>
                <th>Бригада</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var addres in AddressService.Addresses)
            {
                <tr>
                    <td>@addres.DateMeasurment</td>
                    <td>@addres.DateMontage</td>
                    <td>@addres.Name</td>
                    <td>@addres.Sum</td>
                    <td>@addres.WorkersName</td>

                </tr>
            }
        </tbody>
    </table>
}


@code {
    protected override async Task OnInitializedAsync()
    {
        await AddressService.GetAddresses();
    }
}
