@page "/addresses"

@inject NavigationManager NavigationManager
@inject IAddressService AddressService

<h3>Мои адреса</h3>

@if (AddressService.Addresses == null || AddressService.Addresses.Count == 0)
{
    <span>Loading ...</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Замер</th>
                <th>Монтаж</th>
                <th>Адрес</th>
                <th>Сумма</th>
                <th>Бригада</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var addres in AddressService.Addresses)
            {
                <tr>
                    <td>@addres.DateMeasurment.ToString("dd/MM")</td>
                    <td>@addres.DateMontage.ToString("dd/MM")</td>
                    <td><b>@addres.Name</b></td>
                    <td>@addres.Sum</td>
                    <td>@addres.WorkersName</td>
                    <td>
                        <button type="button" class="btn btn-primary" @onclick="(()=>DeleteAddress(addres.Id))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="button" class="btn btn-primary form-control" @onclick="AddNewAddress"><b>+</b></button>
}


@code {
    protected override async Task OnInitializedAsync()
    {
        await AddressService.GetAddresses();
    }

    private void DeleteAddress(int id)
    {
        AddressService.DeleteAddress(id);

        StateHasChanged();
    }

    private void AddNewAddress()
    {
        NavigationManager.NavigateTo("/editaddress");
    }
}
