@page "/address"

@inject NavigationManager NavigationManager
@inject IAddressService AddressService

<h3>Мои адреса</h3>

@if (AddressService.Addresses == null || AddressService.Addresses.Count == 0)
{
    <span>Loading ...</span>
}
else
{
    <table class="table" style="font-size:x-small;">
        <thead>
            <tr>
                <th>Замер</th>
                <th>Монтаж</th>
                <th>Адрес</th>
                <th>Сумма</th>
                <th>Бригада</th>
                <th>Редакт.</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var addres in AddressService.Addresses)
            {
            <tr>
                <td class="col-1">@addres.DateMeasurment.ToString("dd/MM")</td>
                <td class="col-1">@addres.DateMontage.ToString("dd/MM")</td>
                <td class="col-5"><b>@addres.Name</b></td>
                <td class="col-1">@addres.Sum</td>
                <td class="col-2">@addres.WorkersName</td>
                <td class="col-1">
                    <button type="button" class="btn btn-primary">Edit</button>
                </td>
                <td class="col-1">
                    <button type="button" class="btn btn-primary">Delete</button>
                </td>
            </tr>
            }
        </tbody>        
    </table>
    <button type="button" class="btn btn-primary form-control" @onclick="@(()=>AddNewAddres())"><b>+</b></button>
}


@code {
    protected override async Task OnInitializedAsync()
    {
        await AddressService.GetAddresses();
    }

    public void AddNewAddres()
    {
        NavigationManager.NavigateTo("/addaddress");
        }
}
